.invite_bar {
    background-image: linear-gradient(to right, #181716, #ED4E08);
    min-height: 40px;
}


.invite_text {
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-align: center;
}

.invite_button {
    height: 28px;
    font-family: Sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: black;
    background-color: white;
    border-radius: 20px;
    border: 0px;
    text-align: center;
    min-width: 100px;
}