.product_price {
    color: black;
    font-weight: 700;
    font-size: 16px;
}

.product_actual_price {
    color: grey;
    font-weight: 400
}

.product_price_discount {
    color: lightcoral;
    font-style: italic;
    font-weight: 400;
}