.categoryBtn {
    border: 1px solid grey;
    border-radius: 2rem;
    padding: 5px 15px 5px 15px;
    background-color: white;
    margin: 5px;
    color: grey;
}

.filter_heading {
    font-size: 20px;
    font-weight: 600;
}

.active,
.btn:hover {
    background-color: #666;
    color: white;
}